{% extends "base.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Edit product</th>
            </tr>
        </thead>
        <tbody>
            {% for p in purchase %}
                <tr>
                    <td>{{ p.title }}</td>
                    <td>{{ p.product_info }}</td>
                    <td>{{ p.price }}</td>
                    <td><a href="{% url 'productbyid' p.product_id %}"><button type="button" class="btn btn-default">View</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}