{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12" id="textalign">
            <h2>-Our Goal-</h2>
            <p>To provide trade customers who want to get a kick start with their handmade products - we do all the work so you can focus on your products</p>
            <br>
            <h2>-About Us-</h2>
            <h3>-What we do for Trade -</h3>
            <p>We allow trade companies to upload and host their products on our site, taking out all the hardwork, we provide the hosting and the know how, for a subscription fee of £9.99 we host your products on our site and use google advertising to guide potentially customers to our site and your products </p>
            <p>You can upload company banners and logos, information regarding your company that will stand out and get you noticed </p>
            <br>
            <h3>-What we do for the Customers-</h3>
            <p>All products uploaded by our trade customers can be easily filtered using the nav bar, want to filter by collection you can, know the company already, you can filter on them as well. It's quick and easy </p>
        </div>
    </div>
</div>
{% endblock %}