{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="imagesort">
        {% for p in product %}
        <div class="col-sm-3">
            <a href={% url 'productbyid' p.id %}><img src="/media/{{ p.image }}" style="width:304px;height:228px;"></a>
            <p>{{ p.title }} | <b>£{{ p.price }}</b></p>
            <a href="{% url 'purchase' p.id %}">
                <button type="button" class="btn btn-default">Buy now</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}