{% extends 'base.html' %}
{% block content %}
    <div class="container">
 {% for b in banner %}
     <div class="banner">
    <img src="/media/{{ b.company_banner }}">
     </div>
 {% endfor %}
{% for p in product %}
        <div class="col-sm-3">
            <img src="/media/{{ p.image }}" style="height:200px; width:280px" onclick="location.href={{ p.id }}">
            <p>{{ p.title }} | <b>£{{ p.price }}</b></p>
            <button type="button" class="btn btn-default">Quick Buy</button>
            <button type="button" class="btn btn-default">Add to basket</button>
        </div>
{% endfor %}
    </div>
{% endblock %}