{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">
    <form role="form" method="post" action="{% url 'login' %}">
        <legend>Login</legend>
        <p>Don't have a login, you can click <a href="{% url 'custregister' %} ">here</a> to sign up, it's quick and free </p>
        {% csrf_token %}
        {{ form| as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    </div>
{% endblock %}