{% extends "base.html" %}
{% block content %}
    <div class="container">
    {% load bootstrap_tags %}
    <h1>Account Information</h1>
        <p>To keep your banners and logos in fitting with everyone elses we recommend a size of <b>1200px x 300px</b> for the banner and <b>800px by 800px</b> for the square logo </p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-info">Save and finish</button>
    </form>
    </div>
{% endblock %}