{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <h1>View your products and edit them</h1>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>View product</th>
            </tr>
        </thead>
        <tbody>
            {% for p in product %}
                {% if user.id ==  p.userid %}
                <tr>
                    <td><a href="{% url 'productbyid' p.id %}"> {{ p.title }}</a></td>
                    <td>{{ p.product_info }}</td>
                    <td>{{ p.price }}</td>
                    <td><a href="{% url 'editproduct' p.id %}"><button type="button" class="btn btn-default">Edit</button></a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}